<!DOCTYPE HTML>
<html>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body></body>
<!-- 源文件 -->
<script type="text/javascript" src="src/check.js"></script>
<script type="text/javascript" src="src/tools.js"></script>
<script type="text/javascript" src="src/class.js"></script>
<script type="text/javascript" src="src/keyboard.js"></script>
<script type="text/javascript" src="src/animation.js"></script>
<script type="text/javascript" src="src/webgl-3d-math.js"></script>
<script type="text/javascript" src="src/renderer.js"></script>
<script type="text/javascript" src="src/index.js"></script>
