#music.dialog {
  top: 25px;
  left: 25px;
  transform: rotate(-3deg);
}
.music-app {
  width: 300px;
}
.progress-bg {
  width: 300px;
  background: #ccc;
  margin: 10px 0;
}
.music-progress {
  width: 0px;
  height: 2px;
  background: green;
}
.volume-con {
  width: 100px;
  height: 6px;
  position: relative;
  margin: 10px 0;
  overflow: hidden;
  float: right;
  cursor: pointer;
}
.volume-bar {
  background: #999;
  position: absolute;
  top: 2px;
  width: 100px;
  height: 2px;
}
.volume-handle {
  width: 6px;
  height: 6px;
  background: #333;
  position: absolute;
}
.control-area {
  overflow: hidden;
}
