.role-head {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #ddd;
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
}
.chat-editor {
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-button-send {
  margin-top: 10px;
}
